@model Nop.Plugin.Payments.Rave.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}
@inject Nop.Core.IWebHelper webHelper

<script>$(document).ready(function () {

    });</script>

<form asp-controller="PaymentRave" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="form-group" id="SecretKey">
                    <div class="col-md-3">
                        <nop-label asp-for="SecretKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SecretKey" asp-required="true" />
                        <span asp-validation-for="SecretKey"></span>
                    </div>
                </div>

                <div class="form-group" id="Publickey">
                    <div class="col-md-3">
                        <nop-label asp-for="Publickey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Publickey" asp-required="true" />
                        <span asp-validation-for="Publickey"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="EncryptKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EncryptKey" />
                        <span asp-validation-for="EncryptKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <div class="input-group input-group-short">
                            <div class="input-group-text">
                                <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                            </div>
                            @if (
  !string.IsNullOrEmpty(Model.SecretKey) || !string.IsNullOrEmpty(Model.Publickey))
    {

    }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
